.wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 50px;
  align-items: flex-start;
  flex-direction: column;
}

.playerBlock{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.playerBlockColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.playerInfoBlock{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.playerInfoRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
}

.rowTitle{
  width: 150px;
  font-weight: bold;
}

.rowDataTitle{
  width: 400px;
}

.playerImage{
  display: flex;
  justify-content: center;
}

.buttonsBlock{
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.imgPreview {
  width: 150px;
  height: 200px;
}
